html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

table,td,th {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
}
.col-1 {
    background-image: url('fondo.jpg');
     color : white;
}
.col-2 {
background-color: white;
}
.col-3 {
background-image: url('fondo.jpg');
     color : white;
}