body {
    text-align: center;
    font-family: 'poppins', sans-serif;
    background-image:url(atras.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {    
    background-color: #C7C8CA;
    color: white;
    border-left: 10px solid #FF4B3D;
    padding: 15px;
    width: 50%;
    margin: 20px auto;

}

img { 
  width:600px;
    height:auto;

    border:6px solid black;
    border-radius:18px;

    box-shadow:10px 10px 20px rgba(0,0,0,0.7);

    display:block;
    margin:auto;
}


ul {   list-style: none;


}

li {
    display: inline;
    border: 2px solid black;
    padding: 5px 5px;
}