*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
 font-family: Arial, Helvetica, sans-serif;
 background-color: blueviolet;
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
}

form {
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 420px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

form h2 {
    font-size: 30px;
    color: aliceblue;
    margin-bottom: 35px;
}

input {
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid green;
    margin-bottom: 30px;
    outline: none;
    color: cornflowerblue;
    font-size: 16px; 
}

::placeholder {
    color: aquamarine;
}

.btn {
    background-color: pink;
border: 2px solid salmon;
cursor: pointer;
}

.btn:hover {
    background-color: pink;
border: 2px solid salmon;
}

@media (mas-width:991px) {
    body {
        padding: 30px;
    }

    form {
        width:340px;
    }
}